@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lexend Deca', sans-serif;
}

:root {
    --deep-blue: rgba(0,0,175,1);
    --french-blue: #1c77c3ff;
    --cerulean-crayola: #39a9dbff;
    --maximum-blue: #40bcd8ff;
    --light-yellow: rgba(255, 255, 250, 1);
    --misty-blue: #B0B7C0;
    --gray: rgba(243, 243, 250, 1);
    --almost-black: rgba(0, 32, 55, 1);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.container > div {
    padding: 25px 50px;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    background-color: var(--french-blue);
    color: var(--gray);
    z-index: 3;
}

.sidebar .logo {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo img {
    height: 75px;
    width: 75px;
}

.sidebar ul {
    list-style-type: none;
    font-size: 24px;
    display: grid;
    gap: 0.5em;
}

.sidebar .logo img,
.sidebar li img {
    padding-right: 0.5em;
}

.header {
    grid-column: 2;
    background-color: var(--french-blue);
    border-left: 2px ridge var(--cerulean-crayola);
    box-shadow: 0 3px 10px var(--cerulean-crayola);
    color: var(--gray);
    z-index: 2;
}

.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 15px;
}

.first-row .search-bar {
    display: flex;
    align-items: center;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2.5em;
    width: 50em;
    border-radius: 8px;
    background: var(--gray);
}

.first-row .bell-and-user {
    justify-self: end;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1em;
}

.first-row .bell-and-user .user-header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-row .hello-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.second-row button {
    width: 100px;
    padding: 10px;
    border: 2px solid var(--deep-blue);
    border-radius: 20px;
    background-color: var(--maximum-blue);
    color: white;
    font-size: 14px;
}

.hello-user {
    font-weight: bold;
}

.hello-user .greeting {
    font-size: 18px;
}

.hello-user .user {
    font-size: 30px;
}

h2 {
    padding-bottom: 0.5em;
}

.main-content {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 25px;
}

.main-content .projects {
    grid-row: 1 / -1;
}

.all-cards {
    display: grid;
    gap: 25px;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card {
    background-color: var(--light-yellow);
    padding: 30px;
    border-radius: 8px;
}

.projects .all-cards .card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 10px ridge var(--french-blue);
}

.all-cards .card .title {
    font-size: 20px;
    font-weight: bold;
}

.all-cards .card .card-icons {
    list-style-type: none;
    align-self: flex-end;
    display: flex;
    gap: 1em;
}

.announcements .card .notice {
    border-bottom: 2px dashed var(--french-blue);
    margin-bottom: 10px;
}

.announcements .card p {
    margin: 5px 0;
    padding-bottom: 5px;
    font-size: 12px;
}

.announcements .card :nth-child(3) {
    border: none;
}

.trending .user-info {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}

.first-row .user-header img,
.trending .user-info img {
    height: 50px;
    width: 50px;
}

.trending .user-text .username {
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;
}
